body {
  background-image: url(./bg.jpeg);
  background-repeat: repeat-y;
  background-size: 100%;
  background-position-y: center;
}
.input {
  direction: rtl;
  padding: 1.5%;
}

.container button {
  text-align: center;
}

.submit {
  display: block;
  background-color: green;
  border: none;
  border-radius: 1rem;
  margin-right: 42%;
  opacity: 0.6;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
/* .rate-counter {
  font-size: 3rem;
  height: 4rem;
  width: 4rem;
  margin: 0.5rem 0rem 0.7rem 0.7rem;
} */

.rate-form {
  display: none;
}

#result-show {
  direction: rtl;
  text-align: center;
}
#header {
  font-size: 1.5rem;
  font-weight: bold;
}

#result-div {
  display: none;
}
